
 <%= form_tag wiki_collaborators_path do %>
    <div class="field">
        <p><%= label_tag :email %>
        <%= text_field_tag :email %></p>
    </div>
    <%= submit_tag "Save", class: 'btn btn-success' %>
<% end %>