<%= form_tag wiki_collaborators_path do %>
    <div class="field">
        <%= label_tag :user_email %>
        <%= autocomplete_field_tag :user_email, '', autocomplete_user_email_wiki_collaborators_path %>
    </div>
    <br>
    <div class="actions">
        <%= submit_tag %>
    </div>
<% end %>