<h1>Why Use Blocipedia?</h1>
<ul>
<li>Learn by exploring public wikis</li>
<li>Share what you know by contributing to wikis</li>
<li>Keep information secure and collaborate with co-workers and friends using private wikis</li>
</ul>
